
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.8rem;
  background-color: #00040adc;
}
.style-SR7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 37.8rem;
  height: 55.4rem;
  overflow: hidden;
  background-color: #221f1f;
}
.style-SR7 .sofiai-ui-cU1 {
  width: 37.8rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #0c0c0c;
  border-radius: 0.6rem;
}
.style-SR7 .sofiai-ui-cU1 .rectangle-2-jaZ {
  width: 37.8rem;
  height: 39.0438rem;
  position: absolute;
  left: 0;
  top: 8.4901rem;
  background-color: #ffffff;
}
.style-SR7 .sofiai-ui-cU1 .rectangle-1-mXF {
  width: 37.0429rem;
  height: 38.0163rem;
  position: absolute;
  left: 0.3785rem;
  top: 8.5983rem;
  /* background: radial-gradient(54.13% 54.13% at 48.1% 45.87%, #14b2a9 0%, #000000 100%); */
  background-color: #221f1f;
  border-radius: 1.2438rem;
}
.style-SR7 .sofiai-ui-cU1 .upper-div-qQd {
  width: 37.8rem;
  height: 8.7605rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.style-SR7 .sofiai-ui-cU1 .lower-div-wiZ {
  width: 37.8rem;
  height: 8.7605rem;
  position: absolute;
  left: 0;
  top: 46.6146rem;
  background-color: #ffffff;
}
.style-SR7 .sofiai-ui-cU1 .mic-ess {
  width: 12.2755rem;
  height: 8.3279rem;
  position: absolute;
  left: 0.1622rem;
  top: 0.1622rem;
  background-color: #000000;
  border-radius: 1.2438rem;
}
.style-SR7 .sofiai-ui-cU1 .neuro-93w {
  width: 12.2755rem;
  height: 8.3279rem;
  position: absolute;
  left: 12.7622rem;
  top: 0.1622rem;
  background-color: #393535;
  border-radius: 1.2438rem;
}
.style-SR7 .sofiai-ui-cU1 .ram-NxH {
  width: 12.2755rem;
  height: 8.3279rem;
  position: absolute;
  left: 25.3622rem;
  top: 0.1622rem;
  background-color: #000000;
  border-radius: 1.2438rem;
}
.style-SR7 .sofiai-ui-cU1 .ellipse-1-DT7 {
  width: 19.4678rem;
  height: 19.4678rem;
  position: absolute;
  left: 9.085rem;
  top: 16.6558rem;
  border: solid 0.1082rem #02fff4;
  box-sizing: border-box;
  box-shadow: 0 0.2163rem 2.5092rem #01f9f1;
  background-color: #285554;
  border-radius: 9.7339rem;
}
.style-SR7 .sofiai-ui-cU1 .commands-dWq,
.style-SR7 .sofiai-ui-cU1 .log-7S1 {
  width: 8.5983rem;
  height: 2.3794rem;
  position: absolute;
  color: #4c06bc;
  background-color: #c4c4c4;
  border-radius: 0.6489rem;
  text-align: center;
  font-size: 1.2979rem;
  font-weight: bold;
  line-height: 1.1825;
  font-family: Jura, 'Source Sans Pro';
  white-space: nowrap;
  cursor: pointer;
  border: none;
}

.style-SR7 .sofiai-ui-cU1 .commands-dWq:hover,
.style-SR7 .sofiai-ui-cU1 .log-7S1:hover {
  background-color: #a9a9a9;
}
.style-SR7 .sofiai-ui-cU1 .commands-dWq {
  width: 8.5983rem;
  height: 2.3794rem;
  position: absolute;
  left: 28.012rem;
  top: 43.424rem;
  background-color: #c4c4c4;
  border-radius: 0.6489rem;
}
.style-SR7 .sofiai-ui-cU1 .log-7S1 {
  width: 8.5983rem;
  height: 2.3794rem;
  position: absolute;
  left: 0.9193rem;
  top: 43.5863rem;
  background-color: #c4c4c4;
  border-radius: 0.6489rem;
}
.style-SR7 .sofiai-ui-cU1 .settings-oJq {
  width: 37.4755rem;
  height: 8.4361rem;
  position: absolute;
  left: 0.1622rem;
  top: 46.7768rem;
  background-color: #000000;
  border-radius: 1.2438rem;
}
.style-SR7 .sofiai-ui-cU1 .microphone-realtek-audio-Fgd {
  width: 9.4rem;
  height: 4.4rem;
  position: absolute;
  left: 1.5682rem;
  top: 2.109rem;
  text-align: center;
  font-size: 1.7305rem;
  font-weight: 800;
  line-height: 1.1176470005;
  color: #01f5f1;
  font-family: Handjet, 'Source Sans Pro';
}
.style-SR7 .sofiai-ui-cU1 .microphone-realtek-audio-Fgd .microphone-realtek-audio-Fgd-sub-0 {
  font-size: 1.7305rem;
  font-weight: 300;
  line-height: 1.2525;
  color: #01f5f1;
  font-family: Stick No Bills, 'Source Sans Pro';
}
.style-SR7 .sofiai-ui-cU1 .microphone-realtek-audio-Fgd .microphone-realtek-audio-Fgd-sub-1 {
  font-size: 1.7305rem;
  font-weight: 800;
  line-height: 1.2525;
  color: #01f5f1;
  font-family: Stick No Bills, 'Source Sans Pro';
}
.style-SR7 .sofiai-ui-cU1 .author-sa-group-project-sofiai-7uB {
  width: 18.1rem;
  height: 4.7rem;
  position: absolute;
  left: 9.8543rem;
  top: 48.3991rem;
  text-align: center;
  font-size: 1.9468rem;
  font-weight: 800;
  line-height: 1.1975;
  letter-spacing: 0.2725rem;
  color: #01f5f1;
  font-family: Big Shoulders Stencil Text, 'Source Sans Pro';
}

.style-SR7 .sofiai-ui-cU1 .author-sa-group-project-sofiai-7uB .author-sa-group-project-sofiai-7uB-sub-1 {
  font-size: 1.9468rem;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 0.2725rem;
  color: #01f5f1;
  font-family: Tourney, 'Source Sans Pro';
}
.style-SR7 .sofiai-ui-cU1 .all-rights-reserved-2023-MaZ {
  width: 10.7rem;
  height: 1rem;
  position: absolute;
  left: 13.5193rem;
  top: 53.6446rem;
  text-align: center;
  font-size: 0.8112rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.style-SR7 .sofiai-ui-cU1 .neuralnetwork-chatgpt-vosk-yrq {
  width: 10.4rem;
  height: 4.4rem;
  position: absolute;
  left: 13.673rem;
  top: 2.109rem;
  text-align: center;
  font-size: 1.7305rem;
  font-weight: 800;
  line-height: 1.2525;
  color: #01f5f1;
  font-family: Stick No Bills, 'Source Sans Pro';
}
.style-SR7 .sofiai-ui-cU1 .neuralnetwork-chatgpt-vosk-yrq .neuralnetwork-chatgpt-vosk-yrq-sub-0 {
  font-size: 1.7305rem;
  font-weight: 300;
  line-height: 1.2525;
  color: #01f5f1;
  font-family: Stick No Bills, 'Source Sans Pro';
}

.style-SR7 .sofiai-ui-cU1 .ram-03-mb-3ER {
  width: 4.4rem;
  height: 4.1rem;
  position: absolute;
  left: 29.3099rem;
  top: 2.3253rem;
  text-align: center;
  font-size: 1.6223rem;
  font-weight: 800;
  line-height: 1.2525;
  color: #01f5f1;
  font-family: Stick No Bills, 'Source Sans Pro';
}
.style-SR7 .sofiai-ui-cU1 .ram-03-mb-3ER .ram-03-mb-3ER-sub-0 {
  font-size: 1.6223rem;
  font-weight: 300;
  line-height: 1.2525;
  color: #01f5f1;
  font-family: Stick No Bills, 'Source Sans Pro';
}


.style-SR7 .sofiai-ui-cU1 .commands-wDK {
  width: 7.4rem;
  height: 1.6rem;
  position: absolute;
  left: 28.6923rem;
  top: 43.8026rem;
  text-align: center;
  font-size: 1.2979rem;
  font-weight: 700;
  line-height: 1.1825;
  color: #4c06bc;
  font-family: Jura, 'Source Sans Pro';
  white-space: nowrap;
}
.style-SR7 .sofiai-ui-cU1 .log-c4Z {
  width: 2.4rem;
  height: 1.6rem;
  position: absolute;
  left: 4.0996rem;
  top: 43.9648rem;
  text-align: center;
  font-size: 1.2979rem;
  font-weight: 700;
  line-height: 1.1825;
  color: #4c06bc;
  font-family: Jura, 'Source Sans Pro';
  white-space: nowrap;
}
.style-SR7 .sofiai-ui-cU1 .sofia-Wvd {
  width: 7.6rem;
  height: 2.9rem;  
  position: relative;
  left: 38%;
  top: 26rem;
  font-size: 2.5957rem;
  font-weight: 400;
  line-height: 1.1;
  color: #ffffff;
  font-family: Tourney, 'Source Sans Pro';
  white-space: nowrap;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 2.5092rem #01f9f1;
  }
  50% {
    box-shadow: 0 0 5rem #01f9f1; /* size of the shadow */
  }
  100% {
    box-shadow: 0 0 2.5092rem #01f9f1;
  }
}

.style-SR7 .sofiai-ui-cU1 .ellipse-1-DT7 {
  width: 19.4678rem;
  height: 19.4678rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 0.1082rem #02fff4;
  box-sizing: border-box;
  background-color: #285554;
  border-radius: 9.7339rem;
  animation: pulse 2.5s infinite; /* animation duration */
}





#commandsList {
  display: none;
  position: fixed;
  font-size: 16px;
  border: 7px solid #01f5f1;
  top: 30px;
  right: 20px;
  padding: 20px;
  color: #faffff;
  font-family: 'Courier New', Courier, monospace;
  background-color: #221f1f; 
  border-radius: 10px;
  z-index: 1000; 
}

#commandsList ul {
  list-style: none;
  padding: 0;
}

#commandsList li {
  margin-bottom: 10px;
}

#commandsList :hover{
  background-color: #3c3939;
}
